h1 {
    text-align: center;
}

div.text-section {
    padding-left: 2%;
    padding-right: 1%;
}

.footer {
    color: #888;
    text-align: center;
    font-size: 70%;
    font-style: italic;
}

hr {
    margin-top: 50px;
}